@import "font_size";
@import "transition";

%link {
  @include transition(color);
  color: $link-color;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $link-hover-color;
  }
}

%underlined-link {
  @extend %link;
  text-decoration: underline;
}
