
@mixin visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  width: 1px;
  word-wrap: normal;
}

%visually-hidden {
  @include visually-hidden;
}

@mixin visually-hidden-revert {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
  width: auto;
  word-wrap: normal;
}
