.layout-header {
  @include full-page-width();
  background: $grey-light;
  padding-bottom: var(--grid-row-gap);
  padding-top: var(--grid-row-gap);

  & > .content-wrapper {
    @include grid-setup();
    align-items: center;
  }

  .region-branding {
    @include grid-column(1, 3);
    @include grid-row(1, 1);
  }
  .off-canvas-menu__button,
  .region-navigation {
    @include grid-column(4, 1);
    @include grid-row(1, 1);
  }

  @include breakpoint(tablet) {
    .off-canvas-menu__button,
    .region-navigation {
      @include grid-column(6, 1);
    }
  }

  @include breakpoint(desktop) {
    .region-navigation {
      @include grid-column(5, 8);
    }
  }
}
