
:root {
  @each $device in $major-breakpoints {
    @include breakpoint($device) {
      --external-gutter-size: #{grid-external-gutter-size($device)};
      --grid-gutter-size: #{grid-gutter-size($device)};
      --grid-row-gap: #{get-vertical-rythm($device, small)};
    }
  }
}
