
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

html,
body,
.layout-container {
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  padding: 0;

  &.no-scroll {
    overflow: hidden;
  }
}

body.toolbar-fixed {
  &,
  .layout-container {
    min-height: calc(100vh - 40px);
  }
}

.layout-container {
  overflow-y: hidden;
  padding: 0 var(--external-gutter-size);
  position: relative; // Prevent absolute top to get behind the toolbar.
}
