
.off-canvas-menu {
  $root: &;

  &__button {
    background: none;
    border: none;
    text-align: center;

    &__label {
      display: block;
    }

    &--open {
      #{$root} {
        &__button__icon {
          @extend %icon-menu;
          margin: .5rem auto;
        }
      }
    }

    &--close {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
      float: right;
      justify-content: flex-end;
      padding: 1rem;

      & + * {
        clear: right;
      }

      #{$root} {
        &__button__icon {
          @extend %icon-close;
        }
      }
    }
  }

  &__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100vh;
    z-index: 3;
    padding: 0;
    text-align: inherit;
    background-color: $white;
    overflow-x: hidden;
    overflow-y: auto;
    transform: translateX(0);
    transition: transform .25s ease-in-out;

    &[aria-hidden] {
      transform: translateX(100%);
    }
  }


  @include breakpoint(desktop) {

    &__button {
      display: none;
    }

    &__content {
      position: relative;
      width: 100%;
      height: auto;
      padding: 0;
      background: none;
      overflow: initial;

      &[aria-hidden] {
        transform: none;
      }
    }

  }
}

body.menu-displayed {
  overflow-y: hidden;
}
